In [34]:
import pandas as pd
import Bio as bio
from Bio import SeqIO

In [35]:
AA = list('ARNDCQEGHILKMFPSTWYV')

In [105]:
file = open(r"C:\Users\aaren\Desktop\AABestiary\01_Raw\Invertebrate\ATP6.txt", 'r')

In [106]:
data = pd.DataFrame([seq_record.description.split(maxsplit=1)[1] for seq_record in SeqIO.parse(file, "fasta")])

In [107]:
data

                                                      0
0     ATP synthase F0 subunit 6 [Xenoturbella profunda]
1     ATP synthase F0 subunit 6 [Xenoturbella monstr...
2     ATP synthase F0 subunit 6 [Xenoturbella hollan...
3       ATP synthase F0 subunit 6 [Xenoturbella churro]
4     ATP synthase F0 subunit 6 [Xenoturbella japonica]
...                                                 ...
3836  ATP synthase F0 subunit 6 [Mizuhopecten yessoe...
3837  ATP synthase F0 subunit 6 [Rhigonema thysanoph...
3838       ATP synthase F0 subunit 6 [Hiatella arctica]
3839  ATP synthase F0 subunit 6 [Enterobius vermicul...
3840         ATP synthase F0 subunit 6 [Capsala pricei]

[3841 rows x 1 columns]

In [108]:
data.columns = ['GeneName']

In [127]:
data['Species'] = [_.split(r' [')[1] for _ in data['GeneName']]
data['GeneName'] = [_.split(r' [')[0] for _ in data['GeneName']]

In [128]:
data['Species'] = [name.replace(r']', '') for name in data['Species']]

In [129]:
data['Species'] = [name.replace(' ', '_') for name in data['Species']]

In [130]:
data['GeneName'] = [_.split(': ')[0] for _ in data['GeneName']]

In [109]:
for i in AA:
    data[i] = 0

In [111]:
for a in AA:
    data[a] = [seq_record.seq.count(a) for seq_record in SeqIO.parse(r"C:\Users\aaren\Desktop\AABestiary\01_Raw\Invertebrate\ATP6.txt", "fasta")]

In [112]:
data['Gene'] = 'ATP6'

In [113]:
COX1 = pd.DataFrame([seq_record.description.split(maxsplit=1)[1] for seq_record in SeqIO.parse(r"C:\Users\aaren\Desktop\AABestiary\01_Raw\Invertebrate\COX1.txt", "fasta")])
COX1.columns = ['GeneName']
for i in AA:
    COX1[i] = 0
for a in AA:
    COX1[a] = [seq_record.seq.count(a) for seq_record in SeqIO.parse(r"C:\Users\aaren\Desktop\AABestiary\01_Raw\Invertebrate\COX1.txt", "fasta")]
COX1['Gene'] = 'COX1'
COX1.head()

,GeneName,A,R,N,D,C,Q,E,G,H,...,K,M,F,P,S,T,W,Y,V,Gene
0,cytochrome c oxidase subunit I [Colochirus qua...,36,10,25,15,0,9,7,40,17,...,4,21,45,28,43,38,16,16,28,COX1
1,cytochrome c oxidase subunit I [Parastichopus ...,42,10,13,15,0,10,10,44,18,...,6,22,48,27,38,35,16,15,38,COX1
2,cytochrome c oxidase subunit I [Mylabris calida],35,9,19,15,1,9,10,47,15,...,8,33,39,26,43,28,14,15,35,COX1
3,cytochrome c oxidase subunit I [Euphaea yayeya...,39,7,14,16,0,13,9,47,16,...,9,33,35,26,37,39,14,16,38,COX1
4,cytochrome c oxidase subunit I [Epicauta chine...,34,9,19,15,1,8,10,47,15,...,8,32,40,25,42,30,14,15,33,COX1

In [114]:
COX2 = pd.DataFrame([seq_record.description.split(maxsplit=1)[1] for seq_record in SeqIO.parse(r"C:\Users\aaren\Desktop\AABestiary\01_Raw\Invertebrate\COX2.txt", "fasta")])
COX2.columns = ['GeneName']
for i in AA:
    COX2[i] = 0
for a in AA:
    COX2[a] = [seq_record.seq.count(a) for seq_record in SeqIO.parse(r"C:\Users\aaren\Desktop\AABestiary\01_Raw\Invertebrate\COX2.txt", "fasta")]
COX2['Gene'] = 'COX2'
COX2.head()

,GeneName,A,R,N,D,C,Q,E,G,H,...,K,M,F,P,S,T,W,Y,V,Gene
0,cytochrome c oxidase subunit II [Balanoglossus...,15,7,6,11,2,9,12,10,7,...,2,6,12,15,13,14,5,10,14,COX2
1,cytochrome c oxidase subunit II [Balanoglossus...,15,7,6,11,2,9,12,10,7,...,2,6,12,14,13,13,5,10,17,COX2
2,cytochrome c oxidase subunit II [Stylocidaris ...,14,6,9,11,2,9,12,10,4,...,2,7,14,12,17,16,5,10,15,COX2
3,cytochrome c oxidase subunit II [Pseudoboletia...,14,6,8,11,2,8,12,10,4,...,2,7,13,12,19,14,5,10,15,COX2
4,cytochrome c oxidase subunit II [Prionocidaris...,14,6,9,11,2,8,12,10,5,...,2,7,14,12,17,16,5,10,15,COX2

In [115]:
COX3 = pd.DataFrame([seq_record.description.split(maxsplit=1)[1] for seq_record in SeqIO.parse(r"C:\Users\aaren\Desktop\AABestiary\01_Raw\Invertebrate\COX3.txt", "fasta")])
COX3.columns = ['GeneName']
for i in AA:
    COX3[i] = 0
for a in AA:
    COX3[a] = [seq_record.seq.count(a) for seq_record in SeqIO.parse(r"C:\Users\aaren\Desktop\AABestiary\01_Raw\Invertebrate\COX3.txt", "fasta")]
COX3['Gene'] = 'COX3'
COX3.head()

,GeneName,A,R,N,D,C,Q,E,G,H,...,K,M,F,P,S,T,W,Y,V,Gene
0,cytochrome c oxidase subunit III [Tramea virgi...,14,4,7,6,2,7,7,19,15,...,2,12,21,11,21,23,13,12,19,COX3
1,cytochrome c oxidase subunit III [Macromia dai...,18,4,7,6,1,6,7,20,15,...,3,12,24,11,19,18,13,12,16,COX3
2,cytochrome c oxidase subunit III [Anax imperator],13,4,7,6,1,6,7,22,15,...,3,15,25,11,16,23,14,12,19,COX3
3,cytochrome c oxidase subunit III [Brachythemis...,14,4,10,6,1,6,6,20,16,...,2,16,20,11,21,19,13,12,15,COX3
4,cytochrome c oxidase subunit III [Foraminiterm...,18,4,9,3,1,9,8,20,14,...,4,8,22,10,16,26,13,10,16,COX3

In [116]:
CYTB = pd.DataFrame([seq_record.description.split(maxsplit=1)[1] for seq_record in SeqIO.parse(r"C:\Users\aaren\Desktop\AABestiary\01_Raw\Invertebrate\CYTB.txt", "fasta")])
CYTB.columns = ['GeneName']
for i in AA:
    CYTB[i] = 0
for a in AA:
    CYTB[a] = [seq_record.seq.count(a) for seq_record in SeqIO.parse(r"C:\Users\aaren\Desktop\AABestiary\01_Raw\Invertebrate\CYTB.txt", "fasta")]
CYTB['Gene'] = 'CYTB'
CYTB.head()

,GeneName,A,R,N,D,C,Q,E,G,H,...,K,M,F,P,S,T,W,Y,V,Gene
0,cytochrome b [Balanoglossus carnosus],33,8,19,9,4,10,5,27,13,...,4,4,33,21,23,20,11,14,24,CYTB
1,cytochrome b [Balanoglossus clavigerus],33,8,20,8,3,10,5,26,13,...,4,6,31,20,25,20,11,15,30,CYTB
2,cytochrome b [Schizocardium brasiliense],32,7,17,8,3,10,7,28,12,...,5,11,31,22,26,21,11,13,26,CYTB
3,cytochrome b [Glossobalanus marginatus],31,8,21,8,4,9,6,26,12,...,4,4,30,21,25,19,11,14,19,CYTB
4,cytochrome b [Saccoglossus kowalevskii],26,6,20,7,5,9,6,25,13,...,7,4,30,20,34,22,11,13,18,CYTB

In [117]:
ND1 = pd.DataFrame([seq_record.description.split(maxsplit=1)[1] for seq_record in SeqIO.parse(r"C:\Users\aaren\Desktop\AABestiary\01_Raw\Invertebrate\ND1.txt", "fasta")])
ND1.columns = ['GeneName']
for i in AA:
    ND1[i] = 0
for a in AA:
    ND1[a] = [seq_record.seq.count(a) for seq_record in SeqIO.parse(r"C:\Users\aaren\Desktop\AABestiary\01_Raw\Invertebrate\ND1.txt", "fasta")]
ND1['Gene'] = 'ND1'
ND1.head()

,GeneName,A,R,N,D,C,Q,E,G,H,...,K,M,F,P,S,T,W,Y,V,Gene
0,NADH dehydrogenase subunit 1 [Balanoglossus cl...,29,7,8,4,3,8,10,20,1,...,8,4,22,20,28,16,7,11,22,ND1
1,NADH dehydrogenase subunit 1 [Balanoglossus ca...,23,7,9,5,3,8,9,19,1,...,8,3,20,17,27,15,7,11,21,ND1
2,NADH dehydrogenase subunit 1 [Glossobalanus ma...,29,7,9,4,3,8,10,19,1,...,8,3,20,19,32,14,7,12,15,ND1
3,NADH dehydrogenase subunit 1 [Saccoglossus kow...,29,7,8,4,2,7,11,20,2,...,8,5,20,19,28,19,8,13,16,ND1
4,NADH dehydrogenase subunit 1 [Phanogenia graci...,17,7,24,3,2,5,9,19,0,...,8,3,21,17,33,17,7,13,8,ND1

In [118]:
ND2 = pd.DataFrame([seq_record.description.split(maxsplit=1)[1] for seq_record in SeqIO.parse(r"C:\Users\aaren\Desktop\AABestiary\01_Raw\Invertebrate\ND2.txt", "fasta")])
ND2.columns = ['GeneName']
for i in AA:
    ND2[i] = 0
for a in AA:
    ND2[a] = [seq_record.seq.count(a) for seq_record in SeqIO.parse(r"C:\Users\aaren\Desktop\AABestiary\01_Raw\Invertebrate\ND2.txt", "fasta")]
ND2['Gene'] = 'ND2'
ND2.head()

,GeneName,A,R,N,D,C,Q,E,G,H,...,K,M,F,P,S,T,W,Y,V,Gene
0,NADH dehydrogenase subunit 2 [Stereobalanus ca...,21,4,7,2,2,13,4,14,5,...,8,15,23,16,32,34,11,5,16,ND2
1,NADH dehydrogenase subunit 2 [Patiria pectinif...,16,6,14,2,5,11,5,27,6,...,7,7,24,9,38,11,9,9,36,ND2
2,NADH dehydrogenase subunit 2 [Stylocidaris reini],24,5,19,1,3,8,5,19,5,...,7,4,26,16,37,27,10,6,12,ND2
3,NADH dehydrogenase subunit 2 [Strongylocentrot...,22,5,14,3,3,11,3,19,4,...,7,7,24,13,41,19,10,7,25,ND2
4,NADH dehydrogenase subunit 2 [Strongylocentrot...,21,5,14,3,3,11,4,19,4,...,7,6,24,13,41,19,10,7,26,ND2

In [119]:
ND3 = pd.DataFrame([seq_record.description.split(maxsplit=1)[1] for seq_record in SeqIO.parse(r"C:\Users\aaren\Desktop\AABestiary\01_Raw\Invertebrate\ND3.txt", "fasta")])
ND3.columns = ['GeneName']
for i in AA:
    ND3[i] = 0
for a in AA:
    ND3[a] = [seq_record.seq.count(a) for seq_record in SeqIO.parse(r"C:\Users\aaren\Desktop\AABestiary\01_Raw\Invertebrate\ND3.txt", "fasta")]
ND3['Gene'] = 'ND3'
ND3.head()

,GeneName,A,R,N,D,C,Q,E,G,H,...,K,M,F,P,S,T,W,Y,V,Gene
0,NADH dehydrogenase subunit 3 [Holothuria scabra],10,3,4,2,1,2,8,5,1,...,1,1,12,7,7,5,2,3,3,ND3
1,NADH dehydrogenase subunit 3 [Apostichopus jap...,9,3,4,2,1,2,7,5,1,...,1,1,12,7,13,1,2,2,4,ND3
2,NADH dehydrogenase subunit 3 [Holothuria edulis],9,3,4,3,1,1,7,6,1,...,1,1,12,8,8,6,2,2,4,ND3
3,NADH dehydrogenase subunit 3 [Apostichopus cal...,9,3,4,2,1,2,7,5,1,...,1,1,12,7,13,1,2,2,6,ND3
4,NADH dehydrogenase subunit 3 [Holothuria forsk...,9,3,4,2,1,1,9,6,1,...,1,1,14,6,9,4,2,2,3,ND3

In [120]:
ND4L = pd.DataFrame([seq_record.description.split(maxsplit=1)[1] for seq_record in SeqIO.parse(r"C:\Users\aaren\Desktop\AABestiary\01_Raw\Invertebrate\ND4L.txt", "fasta")])
ND4L.columns = ['GeneName']
for i in AA:
    ND4L[i] = 0
for a in AA:
    ND4L[a] = [seq_record.seq.count(a) for seq_record in SeqIO.parse(r"C:\Users\aaren\Desktop\AABestiary\01_Raw\Invertebrate\ND4L.txt", "fasta")]
ND4L['Gene'] = 'ND4L'
ND4L.head()

,GeneName,A,R,N,D,C,Q,E,G,H,...,K,M,F,P,S,T,W,Y,V,Gene
0,NADH dehydrogenase subunit 4L [Xenoturbella bo...,6,2,6,1,4,0,2,2,3,...,2,20,3,3,8,10,0,0,6,ND4L
1,NADH dehydrogenase subunit 4L [Phoronopsis har...,7,2,0,1,4,1,3,5,2,...,3,5,9,0,8,3,0,4,10,ND4L
2,NADH dehydrogenase subunit 4L [Xenoturbella ho...,6,2,6,1,4,0,2,2,3,...,2,20,3,3,8,10,0,0,6,ND4L
3,NADH dehydrogenase subunit 4L [Priapulus cauda...,3,2,2,3,3,0,2,4,2,...,2,4,11,0,10,2,1,0,9,ND4L
4,NADH dehydrogenase subunit 4L [Polystoechotes ...,1,1,5,1,3,2,3,4,3,...,2,7,15,1,8,4,0,5,6,ND4L

In [121]:
ND4 = pd.DataFrame([seq_record.description.split(maxsplit=1)[1] for seq_record in SeqIO.parse(r"C:\Users\aaren\Desktop\AABestiary\01_Raw\Invertebrate\ND4.txt", "fasta")])
ND4.columns = ['GeneName']
for i in AA:
    ND4[i] = 0
for a in AA:
    ND4[a] = [seq_record.seq.count(a) for seq_record in SeqIO.parse(r"C:\Users\aaren\Desktop\AABestiary\01_Raw\Invertebrate\ND4.txt", "fasta")]
ND4['Gene'] = 'ND4'
ND4.head()

,GeneName,A,R,N,D,C,Q,E,G,H,...,K,M,F,P,S,T,W,Y,V,Gene
0,NADH dehydrogenase subunit 4 [Balanoglossus cl...,33,11,9,3,6,14,9,17,11,...,8,8,16,22,40,33,9,14,13,ND4
1,NADH dehydrogenase subunit 4 [Balanoglossus ca...,34,10,8,4,5,13,9,18,10,...,8,8,19,22,41,35,10,14,13,ND4
2,NADH dehydrogenase subunit 4 [Glossobalanus ma...,35,12,14,4,4,12,8,18,14,...,9,10,21,25,40,36,12,13,8,ND4
3,NADH dehydrogenase subunit 4 [Prionocidaris ba...,35,9,25,3,5,9,8,21,10,...,7,12,24,19,43,43,14,9,17,ND4
4,NADH dehydrogenase subunit 4 [Schizocardium br...,39,11,8,5,3,13,8,20,13,...,8,16,23,25,42,43,13,16,16,ND4

In [122]:
ND5 = pd.DataFrame([seq_record.description.split(maxsplit=1)[1] for seq_record in SeqIO.parse(r"C:\Users\aaren\Desktop\AABestiary\01_Raw\Invertebrate\ND5.txt", "fasta")])
ND5.columns = ['GeneName']
for i in AA:
    ND5[i] = 0
for a in AA:
    ND5[a] = [seq_record.seq.count(a) for seq_record in SeqIO.parse(r"C:\Users\aaren\Desktop\AABestiary\01_Raw\Invertebrate\ND5.txt", "fasta")]
ND5['Gene'] = 'ND5'
ND5.head()

,GeneName,A,R,N,D,C,Q,E,G,H,...,K,M,F,P,S,T,W,Y,V,Gene
0,NADH dehydrogenase subunit 5 [Schizocardium br...,61,11,18,11,6,19,11,33,9,...,11,26,46,21,65,42,13,9,28,ND5
1,NADH dehydrogenase subunit 5 [Glossobalanus ma...,50,10,16,12,5,20,9,36,9,...,10,9,37,24,64,62,13,13,19,ND5
2,NADH dehydrogenase subunit 5 [Balanoglossus ca...,58,11,19,10,5,19,11,37,16,...,10,11,33,24,61,49,15,12,19,ND5
3,NADH dehydrogenase subunit 5 [Balanoglossus cl...,60,11,19,10,5,21,11,37,15,...,9,12,34,22,49,56,14,11,19,ND5
4,NADH dehydrogenase subunit 5 [Temnopleurus har...,41,10,28,13,6,11,13,30,9,...,10,13,41,19,54,49,10,14,24,ND5

In [123]:
ND6 = pd.DataFrame([seq_record.description.split(maxsplit=1)[1] for seq_record in SeqIO.parse(r"C:\Users\aaren\Desktop\AABestiary\01_Raw\Invertebrate\ND6.txt", "fasta")])
ND6.columns = ['GeneName']
for i in AA:
    ND6[i] = 0
for a in AA:
    ND6[a] = [seq_record.seq.count(a) for seq_record in SeqIO.parse(r"C:\Users\aaren\Desktop\AABestiary\01_Raw\Invertebrate\ND6.txt", "fasta")]
ND6['Gene'] = 'ND6'
ND6.head()

,GeneName,A,R,N,D,C,Q,E,G,H,...,K,M,F,P,S,T,W,Y,V,Gene
0,NADH dehydrogenase subunit 6 [Aphelasterias ja...,7,1,7,2,2,0,3,12,1,...,1,3,7,3,14,1,4,9,21,ND6
1,NADH dehydrogenase subunit 6 [Asterias amurensis],7,1,7,2,2,0,3,13,1,...,1,4,5,2,14,2,4,9,16,ND6
2,NADH dehydrogenase subunit 6 [Pisaster ochraceus],5,1,6,2,2,1,3,14,0,...,0,3,6,2,13,2,4,10,26,ND6
3,NADH dehydrogenase subunit 6 [Schizocardium br...,11,1,0,3,2,3,2,25,0,...,0,4,7,3,13,2,2,5,16,ND6
4,NADH dehydrogenase subunit 6 [Echinothrix diad...,8,2,2,3,3,2,4,15,0,...,0,3,9,3,19,2,1,6,18,ND6

In [124]:
data = data.append(COX1, ignore_index=True)
data = data.append(COX2, ignore_index=True)
data = data.append(COX3, ignore_index=True)
data = data.append(CYTB, ignore_index=True)
data = data.append(ND1, ignore_index=True)
data = data.append(ND2, ignore_index=True)
data = data.append(ND3, ignore_index=True)
data = data.append(ND4, ignore_index=True)
data = data.append(ND5, ignore_index=True)

In [125]:
data = data.append(ND4L, ignore_index=True)
data = data.append(ND6, ignore_index=True)

In [126]:
data

,GeneName,A,R,N,D,C,Q,E,G,H,...,K,M,F,P,S,T,W,Y,V,Gene
0,ATP synthase F0 subunit 6 [Xenoturbella profunda],16,4,8,0,1,5,7,6,4,...,8,19,10,14,14,25,3,3,8,ATP6
1,ATP synthase F0 subunit 6 [Xenoturbella monstr...,15,4,8,0,1,5,7,6,4,...,8,25,10,14,13,27,3,3,6,ATP6
2,ATP synthase F0 subunit 6 [Xenoturbella hollan...,16,4,11,1,0,4,7,7,5,...,7,23,9,15,10,24,3,3,8,ATP6
3,ATP synthase F0 subunit 6 [Xenoturbella churro],14,4,8,1,1,5,7,6,4,...,8,18,10,14,12,30,3,3,6,ATP6
4,ATP synthase F0 subunit 6 [Xenoturbella japonica],17,4,10,0,0,5,8,7,5,...,7,18,10,15,11,21,3,3,11,ATP6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30981,NADH dehydrogenase subunit 6 [Ruidocollaris co...,3,0,2,0,1,2,1,2,1,...,0,3,6,1,4,5,1,2,2,ND6
30982,NADH dehydrogenase subunit 6 [Pseudolestes mir...,3,0,3,1,1,2,0,3,1,...,3,6,6,1,8,12,2,3,6,ND6
30983,NADH dehydrogenase subunit 6 [Peckia collusor],4,0,11,1,1,2,3,4,1,...,6,12,14,2,13,10,1,7,5,ND6
30984,NADH dehydrogenase subunit 6 [Anopheles aconitus],0,0,1,0,2,2,2,4,1,...,2,9,8,1,7,5,1,3,3,ND6
30985,NADH dehydrogenase subunit 6 [Chrysomya putoria],2,0,10,2,1,3,3,4,1,...,6,9,14,2,13,11,1,8,5,ND6

In [131]:
data.drop(data[data['GeneName'] == 'MULTISPECIES'].index, inplace=True)

In [132]:
data

,GeneName,A,R,N,D,C,Q,E,G,H,...,M,F,P,S,T,W,Y,V,Gene,Species
0,ATP synthase F0 subunit 6,16,4,8,0,1,5,7,6,4,...,19,10,14,14,25,3,3,8,ATP6,Xenoturbella_profunda
1,ATP synthase F0 subunit 6,15,4,8,0,1,5,7,6,4,...,25,10,14,13,27,3,3,6,ATP6,Xenoturbella_monstrosa
2,ATP synthase F0 subunit 6,16,4,11,1,0,4,7,7,5,...,23,9,15,10,24,3,3,8,ATP6,Xenoturbella_hollandorum
3,ATP synthase F0 subunit 6,14,4,8,1,1,5,7,6,4,...,18,10,14,12,30,3,3,6,ATP6,Xenoturbella_churro
4,ATP synthase F0 subunit 6,17,4,10,0,0,5,8,7,5,...,18,10,15,11,21,3,3,11,ATP6,Xenoturbella_japonica
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30981,NADH dehydrogenase subunit 6,3,0,2,0,1,2,1,2,1,...,3,6,1,4,5,1,2,2,ND6,Ruidocollaris_convexipennis
30982,NADH dehydrogenase subunit 6,3,0,3,1,1,2,0,3,1,...,6,6,1,8,12,2,3,6,ND6,Pseudolestes_mirabilis
30983,NADH dehydrogenase subunit 6,4,0,11,1,1,2,3,4,1,...,12,14,2,13,10,1,7,5,ND6,Peckia_collusor
30984,NADH dehydrogenase subunit 6,0,0,1,0,2,2,2,4,1,...,9,8,1,7,5,1,3,3,ND6,Anopheles_aconitus
30985,NADH dehydrogenase subunit 6,2,0,10,2,1,3,3,4,1,...,9,14,2,13,11,1,8,5,ND6,Chrysomya_putoria

In [66]:
cols = list(data.columns.values)
cols

['GeneName',
 'A',
 'R',
 'N',
 'D',
 'C',
 'Q',
 'E',
 'G',
 'H',
 'I',
 'L',
 'K',
 'M',
 'F',
 'P',
 'S',
 'T',
 'W',
 'Y',
 'V',
 'Gene',
 'Species']

In [133]:
data = data[['Species', 'Gene', 'GeneName', 'A', 'R', 'N', 'D', 'C', 'Q', 'E', 'G', 'H', 'I', 'L', 'K', 'M', 'F', 'P', 'S', 'T', 'W', 'Y', 'V',]]

In [134]:
data.columns = ['Species', 'Gene', 'GeneName','Ala','Arg','Asn','Asp','Cys','Gln','Glu','Gly','His','Ile','Leu','Lys','Met','Phe','Pro','Ser','Thr','Trp','Tyr','Val']

In [135]:
data.to_csv(r'C:\Users\aaren\Desktop\AABestiary\03_Derived\InvertebrateAll.txt', sep=';')

In [132]:
data['Species'].value_counts()

Microvirga_massiliensis      35
Mycoplana_dimorpha           31
Bradyrhizobium_rifense       29
Ensifer_mexicanus            29
Occidentia_massiliensis      29
                             ..
Sphingomonas_paucimobilis     1
Paracoccus_sp._DSL-16         1
Sphingobium_indicum           1
Ochrobactrum_anthropi         1
Acidiphilium_angustum         1
Name: Species, Length: 1752, dtype: int64

In [135]:
data_chosen = data[~data.Species.groupby(data.Species).transform('count').lt(10)]
data_chosen = data_chosen.reset_index(drop=True)
data_chosen

,Species,Gene,GeneName,Ala,Arg,Asn,Asp,Cys,Gln,Glu,...,Leu,Lys,Met,Phe,Pro,Ser,Thr,Trp,Tyr,Val
0,Methyloceanibacter_methanicus,ATP6,F0F1 ATP synthase subunit A,23,5,7,3,1,2,4,...,24,5,14,26,7,8,16,1,6,29
1,Magnetospirillum_gryphiswaldense,ATP6,F0F1 ATP synthase subunit A,16,8,3,2,1,2,5,...,20,2,8,24,9,9,11,1,7,22
2,Magnetospirillum_moscoviense,ATP6,F0F1 ATP synthase subunit A,17,7,3,2,1,3,6,...,20,3,6,24,9,7,10,1,7,20
3,Polymorphobacter_fuscus,ATP6,F0F1 ATP synthase subunit A,25,6,5,3,1,3,7,...,36,4,2,22,11,5,10,0,7,22
4,Thalassospira_australica,ATP6,F0F1 ATP synthase subunit A,19,8,5,2,2,2,5,...,22,3,11,23,8,7,13,1,6,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18969,Ponticoccus_marisrubri,ND5,monovalent cation/H+ antiporter subunit D,39,8,2,5,0,1,3,...,29,3,6,15,11,8,17,2,5,19
18970,Marivita_lacus,ND5,monovalent cation/H+ antiporter subunit D,47,9,6,7,1,3,4,...,38,4,12,22,12,17,16,2,7,26
18971,Paracoccus_solventivorans,ND5,monovalent cation/H+ antiporter subunit D,38,10,0,5,0,6,1,...,31,3,7,11,12,6,9,3,4,22
18972,Marivita_geojedonensis,ND5,monovalent cation/H+ antiporter subunit D,44,11,4,7,1,4,5,...,33,3,11,21,10,13,15,2,8,22
18973,Ensifer_psoraleae,ND5,Na+/H+ antiporter subunit D,23,9,4,4,0,2,7,...,32,4,9,16,7,9,12,3,10,23

In [136]:
data_chosen.to_csv(r'C:\Users\aaren\Desktop\AABestiary\03_Derived\Alphaproteobacteria.txt', sep=';')