In [1]:
import pandas as pd
import os

In [2]:
result = pd.DataFrame(columns = ['Unnamed: 0', 'GenName', 'GenID', 'OrganismName', 'Taxonomy', 'TTT','TTC','TTA','TTG','TCT','TCC','TCA','TCG','TAT','TAC','TGT','TGC','TGA','TGG','CTT','CTC','CTA','CTG','CCT','CCC','CCA','CCG','CAT','CAC','CAA','CAG','CGT','CGC','CGA','CGG','ATT','ATC','ATA','ATG','ACT','ACC','ACA','ACG','AAT','AAC','AAA','AAG','AGT','AGC','AGA','AGG','GTT','GTC','GTA','GTG','GCT','GCC','GCA','GCG','GAT','GAC','GAA','GAG','GGT','GGC','GGA','GGG','TAA','TAG'])
result

Empty DataFrame
Columns: [Unnamed: 0, GenName, GenID, OrganismName, Taxonomy, TTT, TTC, TTA, TTG, TCT, TCC, TCA, TCG, TAT, TAC, TGT, TGC, TGA, TGG, CTT, CTC, CTA, CTG, CCT, CCC, CCA, CCG, CAT, CAC, CAA, CAG, CGT, CGC, CGA, CGG, ATT, ATC, ATA, ATG, ACT, ACC, ACA, ACG, AAT, AAC, AAA, AAG, AGT, AGC, AGA, AGG, GTT, GTC, GTA, GTG, GCT, GCC, GCA, GCG, GAT, GAC, GAA, GAG, GGT, GGC, GGA, GGG, TAA, TAG]
Index: []

[0 rows x 69 columns]

In [3]:
direct = r'C:\Users\e_mulciber\Desktop\MitoClub\mtDnaInvertebrate\Body\2Derived\codon_usage'
dirname = os.listdir(direct)

In [4]:
for file in dirname:
    try:
        df = pd.read_csv((os.path.join(direct, file)), sep='\t')
        result = result.append(df)
    except:
        pass

In [5]:
result

,Unnamed: 0,GenName,GenID,OrganismName,Taxonomy,TTT,TTC,TTA,TTG,TCT,...,GAT,GAC,GAA,GAG,GGT,GGC,GGA,GGG,TAA,TAG
0,0,ND1,AP_004892.1,Rattus norvegicus,"Eukaryota, Metazoa, Chordata, Craniata, Verteb...",6,13,10,0,1,...,1,2,12,1,1,8,5,0,0,1
1,1,ND2,AP_004893.1,Rattus norvegicus,"Eukaryota, Metazoa, Chordata, Craniata, Verteb...",6,5,10,1,1,...,0,0,3,1,0,2,11,0,0,1
2,2,COX1,AP_004894.1,Rattus norvegicus,"Eukaryota, Metazoa, Chordata, Craniata, Verteb...",16,26,12,1,10,...,8,7,9,0,4,10,24,8,1,0
3,3,COX2,AP_004895.1,Rattus norvegicus,"Eukaryota, Metazoa, Chordata, Craniata, Verteb...",3,4,4,0,2,...,1,10,13,1,2,4,1,1,1,0
4,4,ATP8,AP_004896.1,Rattus norvegicus,"Eukaryota, Metazoa, Chordata, Craniata, Verteb...",4,0,3,1,1,...,0,1,2,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7,7,ND3,YP_009776991.1,Benthosema pterotum,"Eukaryota, Metazoa, Chordata, Craniata, Verteb...",5,4,0,2,1,...,0,4,6,0,0,5,1,0,0,1
8,8,ND4L,YP_009776992.1,Benthosema pterotum,"Eukaryota, Metazoa, Chordata, Craniata, Verteb...",4,2,2,0,0,...,0,1,2,0,1,5,1,0,1,0
9,9,ND4,YP_009776993.1,Benthosema pterotum,"Eukaryota, Metazoa, Chordata, Craniata, Verteb...",6,10,12,3,4,...,1,4,9,2,4,19,5,1,0,0
10,10,ND5,YP_009776994.1,Benthosema pterotum,"Eukaryota, Metazoa, Chordata, Craniata, Verteb...",13,27,15,2,4,...,3,9,9,3,2,14,14,0,0,1
11,11,CYTB,YP_009776996.1,Benthosema pterotum,"Eukaryota, Metazoa, Chordata, Craniata, Verteb...",8,24,2,2,5,...,3,8,5,0,2,15,9,0,0,0

In [6]:
aa_mm = pd.read_csv(r'C:\Users\e_mulciber\Desktop\MitoClub\mtDnaInvertebrate\Body\2Derived\AminoAcids_mismatched.csv', sep=';')
aa_mm

,Unnamed: 0,Unnamed: 0.1,OrganismName,GenName,GenID,TranslatedAminoAcids,GenBankAminoAcids
0,2,2,Schizosaccharomyces pombe,hypothetical protein,NP_039501.1,QFNRPLNVAICWNYLKNTR,NLIGLLTLLYAGTTWKILDKSFCFKYSKKNTRLVFIFIVKMLKQLS...
1,7,7,Pelomedusa subrufa,ND3,NP_008439.1,INTLMTTMLLTTTLSIIMMALNYTITNKNPHHEKMSPYECGFNPL,MNTLMTTMLLTTTLSIIMMALNYTITNKNPHHEKMSPYECGFNPLE...
2,8,8,Pelomedusa subrufa,ND4L,NP_008440.1,IPHYHLIFLISFLISLTGFAYHQKYLISTLLAL,MPHYHLIFLISFLISLTGFAYHQKYLISTLLALEGMTLTLFTAVST...
3,2,2,Papio hamadryas,COX1,NP_008460.1,MLINRWLFSTNHKDIGTLYLLFGAWAGVTGMALSLLIRAELGQPGN...,MLINRWLFSTNHKDIGTLYLLFGAWAGVTGMALSLLIRAELGQPGN...
4,0,0,Beta vulgaris subsp. vulgaris,nad9,NP_063974.2,MDNQFIFKYSWETLPKKWVKKIEKSEHGNRSDTNTDYPFQLLCFLK...,MDNQFIFKYSWETLPKKWVKKIEKSEHGNRFDTNTDYLFQLLCFLK...
...,...,...,...,...,...,...,...
461,29,29,Haplomitrium hookeri,cob,YP_009674925.1,MARRLSIPKQPIFPTPNNHLIDHPTPSNISYWWGFGSLAGPCLIIQ...,MARRLSIPKQPIFPTPNNHLIDHPTPSNISYWWGFGSLAGPCLIIQ...
462,34,34,Haplomitrium hookeri,ccmB,YP_009674934.1,MIGSSKNFSCHSHPGSIRIRLSLPFPPERFSQNDLEDGTPELYYLS...,MIGSSKNFSCHSHPGSIRIRLSLPFPPERFSQNDLEDGTPELYYLS...
463,7,7,Ptilidium ciliare,sdh3,YP_009675919.1,MKINRPLSPHLTIYKPQLTSTFSIFHRISGAFLATMVLFSIFSFKI...,MKINRPLSPHLTIYKPQLTSTFSIFHRISGAFLATMVLFSIFSFKI...
464,35,35,Solenostoma sphaerocarpum,ccmFN,YP_009676035.1,MP,MPQRTQVRQKNIFLLPIISKVYNVMSPELGHYFLVLSISVALTNKL...
465,0,0,Theileria annulata,cytochrome C oxidase subunit I (COX1 homologue...,YP_002650842.2,AYSNICRKIQTYICFVVFKKF,HTQIYVEKFRHIFVLWFLKNFKFYLVFEFVLSLFNSVSGNHKIIGI...

In [11]:
exclude_list = list(aa_mm['GenID'])

In [46]:
result_wt_mm = result.loc[~result['GenID'].isin(exclude_list)]
result_wt_mm

,Unnamed: 0,GenName,GenID,OrganismName,Taxonomy,TTT,TTC,TTA,TTG,TCT,...,GAT,GAC,GAA,GAG,GGT,GGC,GGA,GGG,TAA,TAG
0,0,ND1,AP_004892.1,Rattus norvegicus,"Eukaryota, Metazoa, Chordata, Craniata, Verteb...",6,13,10,0,1,...,1,2,12,1,1,8,5,0,0,1
1,1,ND2,AP_004893.1,Rattus norvegicus,"Eukaryota, Metazoa, Chordata, Craniata, Verteb...",6,5,10,1,1,...,0,0,3,1,0,2,11,0,0,1
2,2,COX1,AP_004894.1,Rattus norvegicus,"Eukaryota, Metazoa, Chordata, Craniata, Verteb...",16,26,12,1,10,...,8,7,9,0,4,10,24,8,1,0
3,3,COX2,AP_004895.1,Rattus norvegicus,"Eukaryota, Metazoa, Chordata, Craniata, Verteb...",3,4,4,0,2,...,1,10,13,1,2,4,1,1,1,0
4,4,ATP8,AP_004896.1,Rattus norvegicus,"Eukaryota, Metazoa, Chordata, Craniata, Verteb...",4,0,3,1,1,...,0,1,2,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7,7,ND3,YP_009776991.1,Benthosema pterotum,"Eukaryota, Metazoa, Chordata, Craniata, Verteb...",5,4,0,2,1,...,0,4,6,0,0,5,1,0,0,1
8,8,ND4L,YP_009776992.1,Benthosema pterotum,"Eukaryota, Metazoa, Chordata, Craniata, Verteb...",4,2,2,0,0,...,0,1,2,0,1,5,1,0,1,0
9,9,ND4,YP_009776993.1,Benthosema pterotum,"Eukaryota, Metazoa, Chordata, Craniata, Verteb...",6,10,12,3,4,...,1,4,9,2,4,19,5,1,0,0
10,10,ND5,YP_009776994.1,Benthosema pterotum,"Eukaryota, Metazoa, Chordata, Craniata, Verteb...",13,27,15,2,4,...,3,9,9,3,2,14,14,0,0,1
11,11,CYTB,YP_009776996.1,Benthosema pterotum,"Eukaryota, Metazoa, Chordata, Craniata, Verteb...",8,24,2,2,5,...,3,8,5,0,2,15,9,0,0,0

In [47]:
result_wt_mm['Group1'] = 'Eukaryota:Other'
result_wt_mm['Group2'] = 'NotAssigned'
result_wt_mm['Group1'].loc[result_wt_mm['Taxonomy'].str.contains('Fungi', na=False)] = 'Fungi'
result_wt_mm['Group2'].loc[result_wt_mm['Taxonomy'].str.contains('Fungi', na=False)] = 'Fungi:Other'
result_wt_mm['Group2'].loc[result_wt_mm['Taxonomy'].str.contains('Ascomycota', na=False)] = 'Fungi:Ascomycota'
result_wt_mm['Group2'].loc[result_wt_mm['Taxonomy'].str.contains('Basidiomycota', na=False)] = 'Fungi:Basidiomycota'
result_wt_mm['Group1'].loc[result_wt_mm['Taxonomy'].str.contains('Viridiplantae', na=False)] = 'Plants'
result_wt_mm['Group2'].loc[result_wt_mm['Taxonomy'].str.contains('Viridiplantae', na=False)] = 'Viridiplantae:Other'
result_wt_mm['Group2'].loc[result_wt_mm['Taxonomy'].str.contains('Chlorophyta', na=False)] = 'Viridiplantae:Chlorophyta'
result_wt_mm['Group2'].loc[result_wt_mm['Taxonomy'].str.contains('Streptophyta', na=False)] = 'Viridiplantae:Streptophyta:Other'
result_wt_mm['Group2'].loc[result_wt_mm['Taxonomy'].str.contains('Bryophyta', na=False)] = 'Viridiplantae:Streptophyta:Bryophyta'
result_wt_mm['Group2'].loc[result_wt_mm['Taxonomy'].str.contains('Marchantiophyta', na=False)] = 'Viridiplantae:Streptophyta:Marchantiophyta'
result_wt_mm['Group2'].loc[result_wt_mm['Taxonomy'].str.contains('Tracheophyta', na=False)] = 'Viridiplantae:Streptophyta:Tracheophyta'
result_wt_mm['Group1'].loc[result_wt_mm['Taxonomy'].str.contains('Stramenopiles', na=False)] = 'Plants'
result_wt_mm['Group2'].loc[result_wt_mm['Taxonomy'].str.contains('Stramenopiles', na=False)] = 'Stramenopiles'
result_wt_mm['Group1'].loc[result_wt_mm['Taxonomy'].str.contains('Rhodophyta', na=False)] = 'Plants'
result_wt_mm['Group2'].loc[result_wt_mm['Taxonomy'].str.contains('Rhodophyta', na=False)] = 'Rhodophyta'
result_wt_mm['Group1'].loc[result_wt_mm['Taxonomy'].str.contains('Metazoa', na=False)] = 'Invertebrates'
result_wt_mm['Group2'].loc[result_wt_mm['Taxonomy'].str.contains('Metazoa', na=False)] = 'Metazoa:Other'
result_wt_mm['Group2'].loc[result_wt_mm['Taxonomy'].str.contains('Chordata', na=False)] = 'Chordata:Other'
result_wt_mm['Group1'].loc[result_wt_mm['Taxonomy'].str.contains('Cnidaria', na=False)] = 'Invertebrates'
result_wt_mm['Group2'].loc[result_wt_mm['Taxonomy'].str.contains('Cnidaria', na=False)] = 'Cnidaria'
result_wt_mm['Group1'].loc[result_wt_mm['Taxonomy'].str.contains('Ecdysozoa', na=False)] = 'Invertebrates'
result_wt_mm['Group2'].loc[result_wt_mm['Taxonomy'].str.contains('Ecdysozoa', na=False)] = 'Ecdysozoa:Other'
result_wt_mm['Group2'].loc[result_wt_mm['Taxonomy'].str.contains('Ecdysozoa' and 'Chelicerata', na=False)] = 'Ecdysozoa:Chelicerata'
result_wt_mm['Group2'].loc[result_wt_mm['Taxonomy'].str.contains('Ecdysozoa' and 'Crustacea', na=False)] = 'Ecdysozoa:Crustacea'
result_wt_mm['Group2'].loc[result_wt_mm['Taxonomy'].str.contains('Ecdysozoa' and 'Hexapoda', na=False)] = 'Ecdysozoa:Hexapoda'
result_wt_mm['Group2'].loc[result_wt_mm['Taxonomy'].str.contains('Ecdysozoa' and 'Nematoda', na=False)] = 'Ecdysozoa:Nematoda'
result_wt_mm['Group1'].loc[result_wt_mm['Taxonomy'].str.contains('Echinodermata', na=False)] = 'Invertebrates'
result_wt_mm['Group2'].loc[result_wt_mm['Taxonomy'].str.contains('Echinodermata', na=False)] = 'Echinodermata'
result_wt_mm['Group1'].loc[result_wt_mm['Taxonomy'].str.contains('Lophotrochozoa', na=False)] = 'Invertebrates'
result_wt_mm['Group2'].loc[result_wt_mm['Taxonomy'].str.contains('Lophotrochozoa', na=False)] = 'Lophotrochozoa'
result_wt_mm['Group2'].loc[result_wt_mm['Taxonomy'].str.contains('Lophotrochozoa' and 'Mollusca', na=False)] = 'Lophotrochozoa:Mollusca'
result_wt_mm['Group1'].loc[result_wt_mm['Taxonomy'].str.contains('Platyhelmintes', na=False)] = 'Invertebrates'
result_wt_mm['Group2'].loc[result_wt_mm['Taxonomy'].str.contains('Platyhelmintes', na=False)] = 'Platyhelmintes'
result_wt_mm['Group1'].loc[result_wt_mm['Taxonomy'].str.contains('Porifera', na=False)] = 'Invertebrates'
result_wt_mm['Group2'].loc[result_wt_mm['Taxonomy'].str.contains('Porifera', na=False)] = 'Porifera'
result_wt_mm['Group1'].loc[result_wt_mm['Taxonomy'].str.contains('Spiralia', na=False)] = 'Invertebrates'
result_wt_mm['Group2'].loc[result_wt_mm['Taxonomy'].str.contains('Spiralia', na=False)] = 'Spiralia'
result_wt_mm['Group1'].loc[result_wt_mm['Taxonomy'].str.contains('Vertebrata', na=False)] = 'Vertebrata'
result_wt_mm['Group2'].loc[result_wt_mm['Taxonomy'].str.contains('Vertebrata', na=False)] = 'Vertebrata:Other'
result_wt_mm['Group2'].loc[result_wt_mm['Taxonomy'].str.contains('Vertebrata' and 'Chondrichthyes', na=False)] = 'Vertebrata:Chondrychthyes'
result_wt_mm['Group1'].loc[result_wt_mm['Taxonomy'].str.contains('Vertebrata' and 'Actinopterygii', na=False)] = 'Actinopterygii'
result_wt_mm['Group2'].loc[result_wt_mm['Taxonomy'].str.contains('Vertebrata' and 'Actinopterygii', na=False)] = 'Vertebrata:Actinopterygii'
result_wt_mm['Group1'].loc[result_wt_mm['Taxonomy'].str.contains('Vertebrata' and 'Amphibia', na=False)] = 'Amphibia'
result_wt_mm['Group2'].loc[result_wt_mm['Taxonomy'].str.contains('Vertebrata' and 'Amphibia', na=False)] = 'Vertebrata:Amphibia:Other'
result_wt_mm['Group2'].loc[result_wt_mm['Taxonomy'].str.contains('Vertebrata' and 'Anura', na=False)] = 'Vertebrata:Amphibia:Anura'
result_wt_mm['Group2'].loc[result_wt_mm['Taxonomy'].str.contains('Vertebrata' and 'Caudata', na=False)] = 'Vertebrata:Amphibia:Caudata'
result_wt_mm['Group1'].loc[result_wt_mm['Taxonomy'].str.contains('Vertebrata' and 'Archelosauria' or 'Lepidosauria' or 'Dinosauria', na=False)] = 'Reptilia'
result_wt_mm['Group2'].loc[result_wt_mm['Taxonomy'].str.contains('Vertebrata' and 'Archelosauria', na=False)] = 'Vertebrata:Archelosauria'
result_wt_mm['Group2'].loc[result_wt_mm['Taxonomy'].str.contains('Vertebrata' and 'Lepidosauria', na=False)] = 'Vertebrata:Lepidosauria'
result_wt_mm['Group2'].loc[result_wt_mm['Taxonomy'].str.contains('Vertebrata' and 'Dinosauria', na=False)] = 'Vertebrata:Dinosauria'
result_wt_mm['Group1'].loc[result_wt_mm['Taxonomy'].str.contains('Vertebrata' and 'Mammalia', na=False)] = 'Mammalia'
result_wt_mm['Group2'].loc[result_wt_mm['Taxonomy'].str.contains('Vertebrata' and 'Mammalia', na=False)] = 'Vertebrata:Mammalia'

<ipython-input-47-80012c6297fa>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result_wt_mm['Group1'] = 'Eukaryota:Other'
<ipython-input-47-80012c6297fa>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result_wt_mm['Group2'] = 'NotAssigned'
C:\Users\e_mulciber\AppData\Roaming\Python\Python39\site-packages\pandas\core\indexing.py:692: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value, self.name)

In [48]:
result_wt_mm

,Unnamed: 0,GenName,GenID,OrganismName,Taxonomy,TTT,TTC,TTA,TTG,TCT,...,GAA,GAG,GGT,GGC,GGA,GGG,TAA,TAG,Group1,Group2
0,0,ND1,AP_004892.1,Rattus norvegicus,"Eukaryota, Metazoa, Chordata, Craniata, Verteb...",6,13,10,0,1,...,12,1,1,8,5,0,0,1,Mammalia,Vertebrata:Mammalia
1,1,ND2,AP_004893.1,Rattus norvegicus,"Eukaryota, Metazoa, Chordata, Craniata, Verteb...",6,5,10,1,1,...,3,1,0,2,11,0,0,1,Mammalia,Vertebrata:Mammalia
2,2,COX1,AP_004894.1,Rattus norvegicus,"Eukaryota, Metazoa, Chordata, Craniata, Verteb...",16,26,12,1,10,...,9,0,4,10,24,8,1,0,Mammalia,Vertebrata:Mammalia
3,3,COX2,AP_004895.1,Rattus norvegicus,"Eukaryota, Metazoa, Chordata, Craniata, Verteb...",3,4,4,0,2,...,13,1,2,4,1,1,1,0,Mammalia,Vertebrata:Mammalia
4,4,ATP8,AP_004896.1,Rattus norvegicus,"Eukaryota, Metazoa, Chordata, Craniata, Verteb...",4,0,3,1,1,...,2,0,0,0,0,0,1,0,Mammalia,Vertebrata:Mammalia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7,7,ND3,YP_009776991.1,Benthosema pterotum,"Eukaryota, Metazoa, Chordata, Craniata, Verteb...",5,4,0,2,1,...,6,0,0,5,1,0,0,1,Actinopterygii,Vertebrata:Actinopterygii
8,8,ND4L,YP_009776992.1,Benthosema pterotum,"Eukaryota, Metazoa, Chordata, Craniata, Verteb...",4,2,2,0,0,...,2,0,1,5,1,0,1,0,Actinopterygii,Vertebrata:Actinopterygii
9,9,ND4,YP_009776993.1,Benthosema pterotum,"Eukaryota, Metazoa, Chordata, Craniata, Verteb...",6,10,12,3,4,...,9,2,4,19,5,1,0,0,Actinopterygii,Vertebrata:Actinopterygii
10,10,ND5,YP_009776994.1,Benthosema pterotum,"Eukaryota, Metazoa, Chordata, Craniata, Verteb...",13,27,15,2,4,...,9,3,2,14,14,0,0,1,Actinopterygii,Vertebrata:Actinopterygii
11,11,CYTB,YP_009776996.1,Benthosema pterotum,"Eukaryota, Metazoa, Chordata, Craniata, Verteb...",8,24,2,2,5,...,5,0,2,15,9,0,0,0,Actinopterygii,Vertebrata:Actinopterygii

In [51]:
result_wt_mm.to_csv(r'C:\Users\e_mulciber\Desktop\MitoClub\mtDnaInvertebrate\Body\2Derived\CodonUsageDerived.csv', sep=';')